{% extends 'webindexing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post">
  <div class="mb-3">
        <div class="content">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Done" class="btn btn-info btn-block">
            </form>
        </div>
  </div>
</form>
{% if data %}
<table class="table">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Word</th>
      <th scope="col">Frequency</th>
    </tr>
  </thead>
  {% for data in data %}
  <tbody>
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{data.0}}</td>
      <td>{{data.1}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endif %}
{% endblock content %}